{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ashish Nimbalkar</title> 
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/base_blog_page.css' %}">
 
 
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Me</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'blog:blog_url' %}">CHECK OUT MY BLOG</a></li>

      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">ASHISH NIMBALKAR</h3>
  <h3 class = "margin">I'm a Programmer</h3>
  <div> 
   <a href="https://github.com/ashunimbz" class="btn btn-info btn-lg margin1" role="button">Github</a>
    <a href="https://www.linkedin.com/in/ashish-nimbalkar-602371152/" class="btn btn-info btn-lg margin1" role="button">LinkedIn</a>
    <a href="https://www.quora.com/profile/Ashish-Nimbalkar-1" class="btn btn-info btn-lg margin1" role="button">Quora</a>
  <a href="https://www.facebook.com/ashish.nimbalkar.528" class="btn  btn-info btn-lg margin1" role="button">Facebook</a>
  <a href="https://www.codechef.com/users/ashforever007" class="btn  btn-info btn-lg margin1" role="button">Codechef</a>
  </div>
</div>

 <div >
 <h2 style = "padding-top:10px ; padding-left:10px ">  <font color="#7d3c98"> SKILLS </font>  </h2>
 <div class="list-group ">
    <font size = "4px"><a href="#" class="list-group-item ">C++ , Python , Java</a></font>
    <font size = "4px"><a href="#" class="list-group-item ">Django , Mysql</a></font>
    <font size = "4px"><a href="#" class="list-group-item ">Linux</a></font>
    <font size = "4px"><a href="#" class="list-group-item ">C#</a></font>
  </div>
  </div>



<!-- Footer -->
<footer class="container-fluid1  text-center bg-7" >
 <h2  ><font color = "#F5F5F5" style = "margin:10px;">ABOUT ME</font> </h2>

  <div>
  
  <p  ><font color = "white" >I like how a small piece of code can make a big difference . My
favorite thing in Computer Science is algorithms and data
structures .I am always up for a challenge.</font></p>
  
  </div> 
</footer>

</body>
</html>
