{% extends 'blog_template.html' %}
{% block content %}

Hi .You can write on any topic you want .It will only be published after a review .You can submit more than one article. Also , if you are a fan of html then you can include it in your text i.e the text box shown below .In Description field give a short description about your topic .Make sure that your article is greater than 50 words .<br><br>

<form  method="post">
{% csrf_token %}
   <div class="form-group">
     {% for field in form %}

       <label>{{ field.label}} </label>
       {{field}}
       {% if field.help_text %}

       <p class="text-muted">{{field.help_text}}</p>
       {% endif %}
       {% for error in field.errors %}
       <p class="is-danger">{{field.error}}</p>
       {% endfor %}
        <br>
       {% endfor %}
     </div>
    <input class="btn btn-success btn-lg" type="submit" value="SUBMIT">
</form>

{% endblock content %}
