<DOCTYPE html>
<html>
<head>
<title>edit</title>
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<form method="post" >

{% csrf_token %}
    <div class  = "container" >{{form.as_p}}</div>
<div class="container">
 <input type="submit" value="Compile and Run" class="btn btn-primary" />
</div>
</form>
<br>

<div class="container">
<h3>OUTPUT:</h3>
    {%  ifequal info.status.description 'Compilation Error' %}
     <h3>Compilation Error</h3>
    {% endifequal %}
    {%  ifnotequal info.status.description 'Compilation Error' %}
     <h3>{{ info.stdout }}</h3>
    {% endifnotequal %}

</div>


</body>
</html>